// blade defaults
$ngxBladeBorderColor: rgba(127, 127, 127, 1) !default;
$ngxBladeZIndex: 49;

// header defaults
$ngxBladeHeaderBackground: rgba(0, 0, 0, 1) !default;
$ngxBladeHeaderTextColor: rgba(255, 255, 255, 1) !default;

// body defaults
$ngxBladeBodyBackground: rgba(255, 255, 255, 1) !default;
$ngxBladeBodyTextColor: rgba(255, 255, 255, 1) !default;

// header action button (Minimize/Maximize, Close) defaults 
$ngxBladeActionButtonBackground: rgba(255, 255, 255, 0.3) !default;
$ngxBladeCloseButtonHoverBackground: rgba(170, 0, 0, 1) !default;

// footer defaults
$ngxBladeFooterBackground: rgba(238, 238, 238, 1) !default;
$ngxBladeFooterTextColor: rgba(0, 0, 0, 1) !default;
