<button (click)="showBlade=!showBlade">{{showBlade ? 'Close Blade' : 'Open Blade'}}</button>

<ngx-blade width="50" (onClose)="onBladeClose()" *ngIf="showBlade" #blade>
  <div ngxBladeHeader>
    <b>NgxBlade</b> <img src="https://travis-ci.com/cyberpirate92/ngx-blade.svg?branch=master">
  </div>
  <div class="custom" ngxBladeBody>
    NgxBlade is a Angular component to create blade views similar to those found in the Microsoft Azure Portal.
    <ul>
      
      <li>Click on <b>&#x0229E;</b> button to expand this blade to the full width of the page</li> 
      <li>When expanded, Click on <b>&#x0229F;</b> button to minimize back to the default/specified width</li>
      <li>To close the blade, use the <b>&times;</b> button at the top right corner</li>
    </ul>

    Use the <code>ngxBladeHeader</code> and <code>ngxBladeContent</code> inside the <code>ngx-blade</code> selector to specify the header and body of the blade.
    <pre>
    <code [textContent]="example1">
    </code>
    </pre>

    The blade doesn't necessarily have to be closed by the <b>&times;</b> button, a template reference variable could also be used

    Example:
    <pre>
    <code [textContent]="example2">
    </code>
    </pre>

    <button type="button" (click)="blade.close()">Close blade</button>
  </div>
  <div ngxBladeFooter class="text-center">
    A footer can be created by using the <code>ngxBladeFooter</code> directive
  </div>
</ngx-blade>